{% for row in content %}
<div class="row">							
<div class="col-xs-12">
	<div class="thumbnail">
		{% if row.file %}
		<img src="http://192.168.33.10/Fantastic-Teaching/uploads/{{ row.file|e }}" alt="article image">
		{% endif %}
		{% if goals %}
			<div class="form-group">
				<form method="post" action="">
					<div class="form-group">
						<label for="connectedGoalID">Koppla till mål:</label>
						<select class="form-control" name='connectedGoalID'>
							{% for row in goals %}
								<option value="{{row.id}}">{{ row.goal }}</option>
							{% endfor %}
						</select>
						<input type="hidden" name="connectedContentID" value="{{row.id}}">
						<button class="transparentbtn" type="submit" name="connect" value=" "><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Connect content</button>
					</div>
				</form>
			</div>
		{% endif %}
	<div class="row">
		<div class="col-xs-12 col-sm-4">
		{% include 'expandContentBtn.html' %}
		{% include 'contentBtns.html' %}
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="caption">
				<h4>{{row.title|e}}</h4>
				<p class="grayText"><i>Published {{row.timestamp|e}} Author: {{row.username}}</i></p>
				<p>Subject: {{row.subject|e}}</p>
				<p>Recommended for year: {{row.year|e}}</p>
				<p>Estimated teaching hours: {{row.estimate|e}}</p>
				<p>{{row.text|e}}. . .</p>
				{% if row.video %}
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/{{row.video|raw}}" frameborder="0" allowfullscreen></iframe>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	</div>
</div>
</div>
{% endfor %}

