<!--<div class="container-fluid">
		<div class="row user-header">
			
			<div class="col-sm-8">

				
				<p>Testar LLÖÖLLÖÖLLÖ</p>

				<div class="row">
					<div class="col-sm-12">

					</div>
				</div>
			</div>
			<div class="col-sm-4">
			
				{% include "searchForm.html" %}
					
			</div>
			<div class="col-sm-6">

			</div>

				<div class="col-sm-6">
	
				</div>
				<div class="col-sm-12">

				</div>

		</div>
		<div class="row">
		
			<div class="col-sm-12">

			</div>
			<div class="col-sm-12">
				<form method='post' action=''>
				<button class='btn btn-default' type='submit' name='getAllContentBTN'>Show all content</button>
				</form>
			</div>
		</div>row closed
	</div>container closed
{% include "footer.html" %}-->