<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Fantastic Teaching</title>
	<!-- Latest compiled and minified CSS BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p><h5>Welcome {{user}}!</h5></p>
				<form method="get" action="">
				<button type="submit" name="logout" value="{{sessionUserID}}">Logout {{user}}</button>
				</form>
			</div>
			<div class="col-xs-2">
				<h1>Meny och annat</h1>
			</div>
			<div class="col-xs-10">
				<h1>Content</h1>
				<form method='post' action="">
				<input type='text' name='title' placeholder='Add title...'>
					
				</textarea>
				<br><br>
				<textarea rows='10' cols='60' name='text' placeholder='Write your text...'>
					
				</textarea>
				<br><br>
				<input type='submit' name='postContent' value='Post'>
				</form>
				    {% for row in viewcontent %}
        			<h4 class="media-heading">{{ row.title|e }}</h4>
        			<div class="media-body">{{ row.text|e }}</div>
        			<hr>
    				{% endfor %}



			</div>
		</div><!--MENY & CONTANT FINISH COL-->		
	</div><!--SHUTS CONTAINER-->
</body>
</html>