<html>
	<head>
		<meta charset="UTF-8">
		<title>Logga in för fan</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<style type="text/css">
			
		</style>
	</head>
	<body>
	<div class="container">
		<div class="col-sx-12">
			<div class="row">
				<div class="col-sm-12">
				<h1>{{title}}</h1>
				</div>
				<div class="col-sm-6">
					<h3>Login:</h3>
					<div class="form-group">
						<form method="post" action="">
						<label for="username">Username</label>
						<input required type="text" name="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
						<label for="Password">Password</label>
						<input required type="password" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
						<button type="submit" name="login" class="btn btn-default btn-lg">Sign in</button>
						</form>
					</div>
				</div>
				<div class="col-sm-6">
				<h3>New User?</h3>
					<div class="form-group">
						<form method="post" action="">
						<label for="newUsername">New Username</label>
						  <input required type="text" name="newUsername" class="form-control" placeholder="New Username" aria-describedby="basic-addon1">
						  <label for="newPassword">New Password</label>
						  <input required type="password" name="newPassword" class="form-control" placeholder="New Password" aria-describedby="basic-addon1">
						  <label for="allowedEmail">Type in your pre-approved E-mail:</label>
						  <input required type="email" name="allowedEmail" class="form-control" placeholder="Pre-approved E-mail . . ." aria-describedby="basic-addon1">
						  <button type="submit" name="newUser" class="btn btn-default btn-lg">Create new user</button>
						 </form>
					</div>
				</div>
				
			</div>

		</div>




	</div><!--Stänger container-->

	</body>
</html>