<h3>Publish new content</h3>
<form method='post' action="" enctype="multipart/form-data">
	<div class="form-group">
		<label for="title">Title:</label>
		<input class="form-control" autofocus required type='text' name='title' placeholder='Add title...'>
	</div>
	<div class="form-group">
		<label for="subject">Subject:</label>
		<select class="form-control" name='subject'>
		<option value="Svenska">Svenska</option>
		<option value="Geografi">Geografi</option>
		<option value="Historia">Historia</option>
		<option value="Matte">Matte</option>
		</select>
	</div>
	<div class="form-group">
		<label for="year">Suitable for year:</label>
		<select class="form-control" name='year'>
		<option value="1-2">1-2</option>
		<option value="3-5">3-5</option>
		<option value="6-7">6-7</option>
		<option value="8-9">8-9</option>
		</select>
	</div>
	<div class="form-group">
		<label for="text">Text:</label>
		<textarea class="form-control" name='text' placeholder='Write your text...'></textarea>
		<input type="hidden" name="publishNew" value=NULL>
		<input class="form-control" type='text' name='video' placeholder='Embed video..'>
		<input class="form-control" type="file" name="fileToUpload" id="fileToUpload">
		<input class="btn btn-default" type='submit' name='postContent' value='Post'>
	</div>
</form>