	<div class="row">
		<div class="col-xs-12">
			<div class="thumbnail">
			{% for row in article %}
				{% if row.file %}
				<img src="http://192.168.33.10/Fantastic-Teaching/uploads/{{ row.file|e }}" alt="article image">
				{% endif %}
				{% include 'connectContentForm.html' %}
			<div class="row">
				<div class="col-xs-2">
				{% include 'viewAllContentBtn.html' %}
				{% include 'contentBtns.html' %}
				</div>
				<div class="col-xs-10">
					<div class="caption">
						<h4>{{row.title|e}}</h4>
						<p class="grayText"><i>Published {{row.timestamp|e}} Author: {{row.username}}</i></p>
						<p>Subject: {{row.subject|e}}</p>
						<p>Recommended for year: {{row.year|e}}</p>
						<p>Estimated teaching hours: {{row.estimate|e}}</p>
						<p>{{row.text|e}}</p>
						{% if row.video %}
						<div class="embed-responsive embed-responsive-16by9">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/{{row.video|raw}}" frameborder="0" allowfullscreen></iframe>
						</div>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div> <!-- close row -->
</div> <!-- closes div from previous template file -->