<div class="row content-background border-bottom-radius">
<div class="col-xs-2">
<h4>Plans for goal:</h4>
</div>
<div class="col-xs-10">
	{% include 'deleteGoalBtn.html' %}
 	<h4>{{ singleGoal.goal }}</h4>
 	<p>Subject: {{ singleGoal.goal_subject }}</p>
 	<p>For year: {{ singleGoal.goal_year }}</p>
	<h5>Connected to this goal:</h5>
		{% for row in singleGoal.items %}
			{% if row.title %}
			<li><a href="/Fantastic-Teaching/?/Content/view/{{row.id}}">{{row.title|e}} - {{row.estimate|e}} h </a>
			{% include 'deleteConnBtn.html' %}</li>
			{% endif %}
		{% endfor %}
	<hr>
	{% include 'viewAllGoalsBtn.html' %}
</div>
</div>