<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<h4>{{ row.goal }}</h4>
		<p>Subject: {{row.subject|e}}</p>
		<p>For year: {{row.year|e}}</p>
		{% if connectedContent %}
			<h5>Content connected to this goal:</h5>
			<ul>
			{% for row in connectedContent %}
			<li>{{row.title|e}}</li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="form-group">
		<form method="post" action="">
			<button class="transparentbtn" type="submit" name="deleteGoalID" value="{{row.id}}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Delete goal</button>
		</form>
	</div>
</div>